<button type="button" class="btn btn-outline-secondary" style="margin-top: 2%">
  <a href="home" style="color: #ffffff">&laquo;Back</a>
</button>

<table border="3" style="margin-top: 2%">
  <link
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
  />

  <div id="contact" class="contact-area section-padding">
    <div class="container">
      <div class="section-title text-center">
        <h1>Get in Touch</h1>
        <p>
          Do you have any questions? Please do not hesitate to contact us
          directly. Our team will come back to you within a matter of hours to
          help you.
        </p>
      </div>

      <div class="row">
        <div class="col-lg-7">
          <div class="contact">
            <form
              class="form"
              name="enq"
              method="post"
              action="contact.php"
              onsubmit="return validation();"
            >
              <div class="row">
                <div class="form-group col-md-6">
                  <input
                    type="text"
                    name="name"
                    class="form-control"
                    placeholder="Name"
                    required="required"
                  />
                </div>
                <div class="form-group col-md-6">
                  <input
                    type="email"
                    name="email"
                    class="form-control"
                    placeholder="Email"
                    required="required"
                  />
                </div>
                <div class="form-group col-md-12">
                  <input
                    type="text"
                    name="subject"
                    class="form-control"
                    placeholder="Subject"
                    required="required"
                  />
                </div>
                <div class="form-group col-md-12">
                  <textarea
                    rows="6"
                    name="message"
                    class="form-control"
                    placeholder="Your Message"
                    required="required"
                  ></textarea>
                </div>
                <div class="col-md-12 text-center">
                  <button
                    type="submit"
                    value="Send message"
                    name="submit"
                    id="submitButton"
                    class="btn btn-contact-bg"
                    title="Submit Your Message!"
                  >
                    Send Message
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--- END COL -->
        <div class="col-lg-5" style="background-color: cadetblue">
          <div class="single_address">
            <i class="fa fa-map-marker"></i>
            <h4>Our Address</h4>
            <p>3481 Kolhapur, Maharashtra</p>
          </div>
          <div class="single_address">
            <i class="fa fa-envelope"></i>
            <h4>Send your message</h4>
            <p>akshatapatil@gmail.com</p>
          </div>
          <div class="single_address">
            <i class="fa fa-phone"></i>
            <h4>Call us on</h4>
            <p>(+91) 8329349664</p>
          </div>
          <div class="single_address">
            <i class="fa fa-clock-o"></i>
            <h4>Work Time</h4>
            <p>Mon - Fri: 08.00 - 12.00. <br />Sat: 10.00 - 09.00</p>
          </div>
        </div>
        <!--- END COL -->
      </div>
      <!--- END ROW -->
    </div>
    <!--- END CONTAINER -->
  </div>
</table>

<br /><br />
<div class="map">
  <fieldset>
    <legend>Our Location :-</legend>
    <iframe
      src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d30571.68415874789!2d74.21741286591664!3d16.703858430546944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1skolhapur%20hotel%20location!5e0!3m2!1sen!2sin!4v1692117201795!5m2!1sen!2sin"
      width="1100"
      height="300"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
  </fieldset>
</div>
<br />
