<button type="button" class="btn btn-outline-secondary" style="margin-top: 2%">
  <a href="restaurants" style="color: #ffffff">&laquo;Back</a>
</button>

<div class="main"><h2>Menu Card..</h2></div>
<br />
<div title=" Order menu">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card">
          <img src="assets/41.jpg" alt="" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">
              Dosa
              <br />

              <h6>Price :-80Rs/-</h6>
            </h5>

            <a href="create-restaurant" class="btn btn-outline-success btn-sm"
              >Order</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <img src="assets/42.jpg" alt="" class="card-img-top" />

          <div class="card-body">
            <h5 class="card-title">
              Noodles
              <br />
              <h6>Price :-50Rs/-</h6>
            </h5>

            <a href="create-restaurant" class="btn btn-outline-danger btn-sm"
              >Order</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <img src="assets/43.jpg" alt="" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">
              Veg Thali <br />
              <h6>Price :-120Rs/-</h6>
            </h5>

            <a href="create-restaurant" class="btn btn-outline-success btn-sm"
              >Order</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card">
          <img src="assets/44.jpg" alt="" class="card-img-top" />
          <div class="card-body">
            <h5 class="card-title">
              Fry Fish
              <br />
              <h6>Price :-70Rs/-</h6>
            </h5>

            <a href="create-restaurant" class="btn btn-outline-danger btn-sm"
              >Order</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <img
            src="assets/45.jpg"
            alt=""
            class="card-img-top"
            style="height: 230px"
          />

          <div class="card-body">
            <h5 class="card-title">
              Roti
              <br />
              <h6>Price :-90Rs/-</h6>
            </h5>

            <a href="create-restaurant" class="btn btn-outline-success btn-sm"
              >Order</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <img
            src="assets/46.jpg"
            alt=""
            class="card-img-top"
            style="height: 230px"
          />
          <div class="card-body">
            <h5 class="card-title">
              Rice <br />
              <h6>Price :-30Rs/-</h6>
            </h5>

            <a href="create-restaurant" class="btn btn-outline-success btn-sm"
              >Order</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-4 mb-4">
        <div class="card">
          <img
            src="assets/47.jpg"
            alt=""
            class="card-img-top"
            style="height: 230px"
          />
          <div class="card-body">
            <h5 class="card-title">
              Non-Veg Thali
              <br />
              <h6>Price :-200Rs/-</h6>
            </h5>

            <a href="create-restaurant" class="btn btn-outline-danger btn-sm"
              >Order</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <img
            src="assets/48.jpg"
            alt=""
            class="card-img-top"
            style="height: 230px"
          />

          <div class="card-body">
            <h5 class="card-title">
              Puri-Bhaji
              <br />
              <h6>Price :-40Rs/-</h6>
            </h5>

            <a href="create-restaurant" class="btn btn-outline-success btn-sm"
              >Order</a
            >
          </div>
        </div>
      </div>
      <div class="col-lg-4 mb-4">
        <div class="card">
          <img
            src="assets/49.jpg"
            alt=""
            class="card-img-top"
            style="height: 230px"
          />
          <div class="card-body">
            <h5 class="card-title">
              Salad <br />
              <h6>Price :-100Rs/-</h6>
            </h5>

            <a href="create-restaurant" class="btn btn-outline-success btn-sm"
              >Order</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
