<button type="button" class="btn btn-outline-secondary" style="margin-top: 2%">
  <a href="restaurants" style="color: #ffffff">&laquo;Back</a>
</button>

<div
  class="col-md-6 offset-md-3"
  style="background-color: #adad85; margin: auto; padding: 100px"
>
  <h1 style="color: black; text-align: center">Create Order</h1>
  <br /><br />

  <!-- Display user and menu item IDs from query parameters -->
  <label style="color: black" for="userId">User ID: &nbsp; &nbsp; &nbsp;</label>
  <input type="number" id="userId" [value]="userIdFromQueryParam" readonly />
  <br /><br />
  <label style="color: black" for="foodId">Food ID:&nbsp; &nbsp; &nbsp;</label>
  <input type="number" id="foodId" [value]="foodIdFromQueryParam" readonly />
  <br /><br />
  <button
    style="color: black; background-color: darkorange; margin-left: 30%"
    (click)="createOrder()"
  >
    Create Order
  </button>
</div>
<br /><br />
