<button type="button" class="btn btn-outline-secondary" style="margin-top: 2%">
  <a href="home" style="color: #ffffff">&laquo;Back</a>
</button>

<html>
  <head>
    <title>About Us</title>
  </head>
  <body>
    <div class="net" style="margin-top: 5%; width: 35%; float: left">
      <h3 style="text-decoration: underline">About Us</h3>
      <p>
        The word derives from the early 19th century, taken from the French word
        restaurer 'provide food for', literally 'restore to a former state and,
        being the present participle of the verb, The term restaurant may have
        been used in 1507 as a "restorative beverage", and in correspondence in
        1521 to mean 'that which restores the strength, a fortifying food or
        remedy'.
      </p>
      <br /><br />
      <div>
        <a
          class="aboutus-more"
          style="float: left"
          href="https://en.wikipedia.org/wiki/Restaurant#Restaurant_staff"
          target="_blank"
          >read more</a
        >
      </div>
    </div>
    <div class="about" style="float: right">
      <img
        src="assets/24.jpg"
        style="height: 350px; margin-top: 30%; margin-left: -100%"
      />
    </div>

    <div>
      <img
        src="assets/25.jpg"
        style="height: 350px; margin-left: 70%; float: right"
      />
    </div>
    <div>
      <!-- <img
        src="assets/20.jpg"
        style="height: 350px; width: 300px; float: left;"
      /> -->
    </div>

    <link
      href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card user-card">
            <div class="card-block">
              <div class="user-image">
                <img src="assets/31.jpg" style="width: 120%; height: 120%" />
              </div>

              <hr />
              <p class="text-muted m-t-15">Supriya</p>
              <ul class="list-unstyled activity-leval">
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
                <li></li>
                <li></li>
              </ul>
              <div class="bg-c-blue counter-block m-t-10 p-20">
                <div class="row">
                  <div class="col-4">
                    <i class="fa fa-comment"></i>
                    <p>1256</p>
                  </div>
                  <div class="col-4">
                    <i class="fa fa-user"></i>
                    <p>8562</p>
                  </div>
                  <div class="col-4">
                    <i class="fa fa-suitcase"></i>
                    <p>189</p>
                  </div>
                </div>
              </div>
              <p class="m-t-15 text-muted">Senior Chef</p>
              <hr />
              <div class="row justify-content-center user-social-link">
                <div class="col-auto">
                  <a href="#!"><i class="fa fa-facebook text-facebook"></i></a>
                </div>
                <div class="col-auto">
                  <a href="#!"><i class="fa fa-twitter text-twitter"></i></a>
                </div>
                <div class="col-auto">
                  <a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card user-card">
            <div class="card-block">
              <div class="user-image">
                <img src="assets/32.jpg" style="width: 120%; height: 120%" />
              </div>

              <hr />
              <p class="text-muted m-t-15">Akshata</p>
              <ul class="list-unstyled activity-leval">
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
                <li></li>
                <li></li>
              </ul>
              <div class="bg-c-green counter-block m-t-10 p-20">
                <div class="row">
                  <div class="col-4">
                    <i class="fa fa-comment"></i>
                    <p>1256</p>
                  </div>
                  <div class="col-4">
                    <i class="fa fa-user"></i>
                    <p>8562</p>
                  </div>
                  <div class="col-4">
                    <i class="fa fa-suitcase"></i>
                    <p>189</p>
                  </div>
                </div>
              </div>
              <p class="m-t-15 text-muted">Executive Chef</p>
              <hr />
              <div class="row justify-content-center user-social-link">
                <div class="col-auto">
                  <a href="#!"><i class="fa fa-facebook text-facebook"></i></a>
                </div>
                <div class="col-auto">
                  <a href="#!"><i class="fa fa-twitter text-twitter"></i></a>
                </div>
                <div class="col-auto">
                  <a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card user-card">
            <div class="card-block">
              <div class="user-image">
                <img src="assets/31.jpg" style="width: 120%; height: 120%" />
              </div>

              <hr />
              <p class="text-muted m-t-15">Shruti</p>
              <ul class="list-unstyled activity-leval">
                <li class="active"></li>
                <li class="active"></li>
                <li class="active"></li>
                <li></li>
                <li></li>
              </ul>
              <div class="bg-c-yellow counter-block m-t-10 p-20">
                <div class="row">
                  <div class="col-4">
                    <i class="fa fa-comment"></i>
                    <p>1256</p>
                  </div>
                  <div class="col-4">
                    <i class="fa fa-user"></i>
                    <p>8562</p>
                  </div>
                  <div class="col-4">
                    <i class="fa fa-suitcase"></i>
                    <p>189</p>
                  </div>
                </div>
              </div>
              <p class="m-t-15 text-muted">Managerial Chef</p>
              <hr />
              <div class="row justify-content-center user-social-link">
                <div class="col-auto">
                  <a href="#!"><i class="fa fa-facebook text-facebook"></i></a>
                </div>
                <div class="col-auto">
                  <a href="#!"><i class="fa fa-twitter text-twitter"></i></a>
                </div>
                <div class="col-auto">
                  <a href="#!"><i class="fa fa-dribbble text-dribbble"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
