<div class="mx-0 mx-sm-auto">
  <div class="card">
    <div class="card-header bg-primary">
      <h5
        class="card-title text-white mt-2"
        id="exampleModalLabel"
        style="color: black"
      >
        Feedback request
      </h5>
    </div>
    <div class="modal-body">
      <div class="text-center">
        <i class="far fa-file-alt fa-4x mb-3 text-primary"></i>
        <p>
          <strong style="color: black">Your opinion matters</strong>
        </p>
        <p style="color: black">
          Have some ideas how to improve our Restaurant?
          <strong style="color: black">Give us your feedback.</strong>
        </p>
      </div>

      <hr />

      <form class="px-4" action="">
        <p class="text-center">
          <strong style="color: black">Your rating:</strong>
        </p>

        <div class="form-check mb-2">
          <input
            class="form-check-input"
            type="radio"
            name="exampleForm"
            id="radio3Example1"
          />
          <label
            class="form-check-label"
            for="radio3Example1"
            style="color: black"
          >
            Very good 😃
          </label>
        </div>
        <div class="form-check mb-2" style="color: black">
          <input
            class="form-check-input"
            type="radio"
            name="exampleForm"
            id="radio3Example2"
          />
          <label class="form-check-label" for="radio3Example2"> Good 😄 </label>
        </div>
        <div class="form-check mb-2">
          <input
            class="form-check-input"
            type="radio"
            name="exampleForm"
            id="radio3Example3"
          />
          <label
            class="form-check-label"
            for="radio3Example3"
            style="color: black"
          >
            Medicore 😊
          </label>
        </div>
        <div class="form-check mb-2">
          <input
            class="form-check-input"
            type="radio"
            name="exampleForm"
            id="radio3Example4"
          />
          <label
            class="form-check-label"
            for="radio3Example4"
            style="color: black"
          >
            Bad 😓
          </label>
        </div>
        <div class="form-check mb-2">
          <input
            class="form-check-input"
            type="radio"
            name="exampleForm"
            id="radio3Example5"
          />
          <label
            class="form-check-label"
            for="radio3Example5"
            style="color: black"
          >
            Very bad 😔
          </label>
        </div>

        <p class="text-center" style="color: black">
          <strong>What could we improve?</strong>
        </p>

        <!-- Message input -->
        <!-- Message input -->
        <div class="form-outline mb-4">
          <textarea class="form-control" id="form4Example3" rows="4"></textarea>
          <label class="form-label" for="form4Example3">Your feedback</label>
        </div>
      </form>
    </div>
    <div class="card-footer text-end">
      <a href="home" class="btn btn-outline-primary btn-sm">Submit</a>
    </div>
  </div>
</div>
<br />
